Package: p-script
Priority: extra
Section: debug
Installed-Size: 8
Maintainer: Ali Rıza KESKİN <aliriza.keskin@pardustopluluk.org>
Architecture: all
Version: 1.0
Description: Make custom boot script
 Custom boot script maker
